@model Đồ_án_cơ_sở.Models.GiaoVien

@{
    ViewBag.Title = "ThongTinGiaoVien";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Thông tin giáo viên</h2>

<div>
    <h4>Giáo Viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonHoc.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quyen.TenQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen.TenQuyen)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaGV }) |
    @Html.ActionLink("Trở về trang chủ", "Index")
</p>
