@model Đồ_án_cơ_sở.Models.GiaoVien

@{
    ViewBag.Title = "XoaThongTingv";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Xóa thông tin giáo viên</h2>

<h4>Bạn chắc chắn muốn xóa không?</h4>
<div>
    <h4>Giáo viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonHoc.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quyen.TenQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen.TenQuyen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về trang chủ", "Index")
        </div>
    }
</div>
