@model IEnumerable<Đồ_án_cơ_sở.Models.DeThi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Trang chủ</h2>

<button type="button" onclick="location.href='@Url.Action("TaoDeThi")'" class="btn btn-primary">
    <i class="fa fa-plus" aria-hidden="true"></i> Tạo đề thi
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongCauHoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaMH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.NgayThi.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongCauHoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaMH)
        </td>
        <td>
            <button type="button" onclick="location.href='@Url.Action("ChiTietDeThi", new {id=item.MaDT})'" class="btn btn-primary">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </button> |
            <button type="button" onclick="location.href='@Url.Action("Delete", new {id=item.MaDT})'" class="btn btn-primary">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>|<button type="button" onclick="location.href='@Url.Action("ThemSinhVien", new {id=item.MaDT})'" class="btn btn-primary">
             <i class="fa fa-plus" aria-hidden="true"></i>
</button>
        </td>
    </tr>
}

</table>
